*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,700i');
:root{
 --light:#fff;
 --dark:#181B24;
 --grey:#899495;
 --orange:#Fc5130;
 --SectionGrey:#F2F2F2;
}
body{
  font-family: 'Roboto Mono', monospace;

}
